<div class="container" style="margin-bottom: 30px">
  <p style='margin-top:20px; font-weight:bold'>EDIT PRODUCT</p>
  <%= form_with( url: admin_path, local: true) do |f| %>
    <%= f.hidden_field :edit_product_submit, :value => @edit_product.id %>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label :name %><br />
        <%= f.text_field :edit_name, class: "form-control", value: @edit_product.name  %>
      </div>
      <div class="col-md-3 form-group">
        <%= f.label :price %><br />
        <%= f.text_field :edit_price, class: "form-control", value: @edit_product.price  %>
      </div>
      <div class="col-md-3 form-group">
        <%= f.label :weight %><br />
        <%= f.text_field :edit_weight, class: "form-control", value: @edit_product.weight  %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :short_description %><br />
      <%= f.text_area :edit_short_description, class: "form-control", id: "edit_ck_short_description", value: @edit_product.short_description %>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label :field_1 %><br />
        <%= f.text_area :edit_description, class: "form-control", id: "edit_ck_description", value: @edit_product.description %>
      </div>
      <div class="col-md-6 form-group">
        <%= f.label :field_2 %><br />
        <%= f.text_area :edit_specifications, class: "form-control", id: "edit_ck_specifications", value: @edit_product.specifications %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label :field_3 %><br />
        <%= f.text_area :edit_field_3, class: "form-control", id: "edit_ck_field_3", value: @edit_product.field_3 %>
      </div>
      <div class="col-md-6 form-group">
        <%= f.label :field_4 %><br />
        <%= f.text_area :edit_field_4, class: "form-control", id: "edit_ck_field_4", value: @edit_product.field_4 %>
      </div>
    </div>
    <%= f.submit('Submit', class:'btn btn-dark') %>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    ClassicEditor.create( document.querySelector('#edit_ck_description' )).catch( error => {
      console.error( error );
    });
    ClassicEditor.create( document.querySelector('#edit_ck_specifications')).catch( error => {
      console.error( error );
    });
    ClassicEditor.create( document.querySelector('#edit_ck_short_description' )).catch( error => {
      console.error( error );
    });
    ClassicEditor.create( document.querySelector('#edit_ck_field_3' )).catch( error => {
      console.error( error );
    });
    ClassicEditor.create( document.querySelector('#edit_ck_field_4' )).catch( error => {
      console.error( error );
    });
  });
</script>
