<div class="container" style="margin-bottom: 30px">
  <p style='margin-top:20px; font-weight:bold'>EDIT SERVICE</p>
  <%= form_for(@edit_service, url: admin_path, local: true) do |f| %>
    <%= f.hidden_field :edit_service_submit, :value => @edit_service.id %>
    <div class="row">
      <div class="col-md-2 form-group">
        <%= f.label :number %><br />
        <%= f.number_field :number, class: "form-control" %>
      </div>
      <div class="col-md-5 form-group">
        <%= f.label :header %><br />
        <%= f.text_field :header, class: "form-control"%>
      </div>
      <div class="col-md-5 form-group">
        <%= f.label :menu_name %><br />
        <%= f.text_field :dropdown_header, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description %><br />
      <%= f.text_area :description, class: "form-control", id: "edit_ck_service_description" %>
    </div>
    <div class="row">
      <div class="col-md-4 form-group">
        <%= f.label :background_color %><br />
        <%= f.text_field :background_color, class: "form-control" %>
      </div>
      <div class="col-md-4 form-group">
        <%= f.label :text_color %><br />
        <%= f.text_field :text_color, class: "form-control"%>
      </div>
      <div class='col-md-4 form-group'>
        <%= f.label :image %><br />
        <%= f.file_field :image, class: 'form-control' %>
      </div>
    </div>
    <%= f.submit('Submit', class:'btn btn-dark') %>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    ClassicEditor.create( document.querySelector('#edit_ck_service_description' )).catch( error => {
      console.error( error );
    });
  });
</script>