<div class="container">
  <p style='margin-top:20px; font-weight:bold'>EDIT PRODUCT</p>
  <%= form_with( url: admin_path, local: true) do |f| %>
    <%= f.hidden_field :edit_product_submit, :value => @edit_product.id %>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label :name %><br />
        <%= f.text_field :edit_name, class: "form-control", value: @edit_product.name  %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label :description %><br />
        <%= f.text_area :edit_description, class: "form-control", id: "edit_ck_description", value: @edit_product.description %>
      </div>
      <div class="col-md-6 form-group">
        <%= f.label :specifications %><br />
        <%= f.text_area :edit_specifications, class: "form-control", id: "edit_ck_specifications", value: @edit_product.specifications %>
      </div>
    </div>
    <%= f.submit('Submit', class:'btn btn-dark') %>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    ClassicEditor.create( document.querySelector('#edit_ck_description' )).catch( error => {
      console.error( error );
    });
    ClassicEditor.create( document.querySelector('#edit_ck_specifications')).catch( error => {
      console.error( error );
    });
  });
</script>
