<div id='btc-dashboard' style='padding-left:2.5%; padding-right:2.5%; margin-top:20px;'>
    <div id='btc-loaded' style='display:none;'>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style='width:100%; text-align:center; font-weight:bold; font-size:1.5em;'>Total Hashrate</h4>
                        <p class="card-text" style='width:100%; text-align:center; font-weight:bold; font-size:2em;'><span id='btc-total-hashrate'></span> TH/s</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style='width:100%; text-align:center; font-weight:bold; font-size:1.5em;'>Confirmed Reward</h4>
                        <p class="card-text" style='width:100%; text-align:center; font-weight:bold; font-size:2em;'><span id='btc-confirmed-reward'></span></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style='width:100%; text-align:center; font-weight:bold; font-size:1.5em;'>Unconfirmed Reward</h4>
                        <p class="card-text" style='width:100%; text-align:center; font-weight:bold; font-size:2em;'><span id='btc-unconfirmed-reward'></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class='row' style='margin-top:20px;'>
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style='width:100%; text-align:center; font-weight:bold; font-size:1.5em;'>Estimated Reward</h4>
                        <p class="card-text" style='width:100%; text-align:center; font-weight:bold; font-size:2em;'><span id='btc-estimated-reward'></span></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style='width:100%; text-align:center; font-weight:bold; font-size:1em;'>Estimated Electricity Cost</h4>
                        <p class="card-text" style='width:100%; text-align:center; font-weight:bold; font-size:2em;'>$ <%= current_user.fixed_fee %></p>
                    </div>
                </div>
            </div>
            <% if @group.present? %>
                <div class="col-sm-6 col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title" style='width:100%; text-align:center; font-weight:bold; font-size:1em;'>Current Balance</h4>
                            <p class="card-text" style='width:100%; text-align:center; font-weight:bold; font-size:2em;'>$ <%= current_user.cur_btc %></p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <table class="table table-bordered table-hover" style='margin-top:20px;'>
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Worker Name</th>
                <th scope="col">Hash Rate</th>
                <th scope="col">Shares</th>
                </tr>
            </thead>
            <tbody>
                <% @miners.where(algorithm: 'SHA256').each_with_index do |t,i| %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= t.worker_name %></td>
                        <td><span id='worker-hashrate-<%= t.worker_name.gsub('.','') %>'></span> TH/s</td>
                        <td><span id='worker-shares-<%= t.worker_name.gsub('.','') %>'></span></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div id='btc-loading' style='width:100%; text-align:center;'>
        <%= image_tag 'loader.gif', style: 'width:640px; height:360px;' %>
    </div>
</div>