<nav class="navbar navbar-expand-lg navbar-dark" style='background-color:black; color:white;'>
    <%= link_to root_path, class:"navbar-brand" do %> <span style='vertical-align:top; color:#fcc118; font-weight:bold;'><i class='material-icons' style='vertical-align:middle; margin-top:-3px; color:#fcc118;'>pie_chart</i> CRYPTOGRAFS</span><% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class='nav-item'>
                <% if user_signed_in? %>
                    <%= link_to 'Dashboard', dashboard_path, class:'nav-link', style:'color:white;' %>
                <% end %>
            </li>
            <li class="nav-item">
                <%= link_to 'ABOUT US', about_us_path, class: 'nav-link', style:'color:white' %>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='color:white;'>
                SERVICES
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Colocation Hosting</a>
                <a class="dropdown-item" href="#">Turnkey Mining</a>
                <a class="dropdown-item" href="#">Our Facility</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='color:white;'>
                PRODUCTS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="dropdown-item"><%= link_to "ASIC Miners", products_path(asic_miners: 1), class: 'nav-link', style: "color:black" %></div>
                <div class="dropdown-item"><%= link_to "GPU Miners", products_path(gpu_miners: 1), class: 'nav-link', style: "color:black" %></div>
                <div class="dropdown-item"><%= link_to "Parts & Accessories", products_path(parts_and_accessories: 1), class: 'nav-link', style: "color:black" %></div>
                <div class="dropdown-item"><%= link_to "Software", products_path(software: 1), class: 'nav-link', style: "color:black" %></div>
                </div>
            </li>
            <li class="nav-item">
                <%= link_to 'CONTACT', contact_path, class: 'nav-link', style:'color:white' %>
            </li>
        </ul>
        <% if user_signed_in? %>
            <ul class='navbar-nav flex-row ml-md-auto d-none d-md-flex'>
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='color:white'>
                        <i class='material-icons'>settings</i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <% if current_user.admin? %>
                            <%= link_to admin_path, class: 'dropdown-item' do %>Admin Settings<% end %>
                            <div class="dropdown-divider"></div>
                        <% end %>
                        <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %><i class='material-icons' style='vertical-align:middle'>power_settings_new</i> Logout <% end %>
                    </div>
                </li>
            </ul>
        <% end %>
        <% unless user_signed_in? %>
            <%= form_for(:user, :url => session_path(:user), html: {class: 'form-inline my-2 my-lg-0', style: 'text-align:center;'}) do |f| %>
                    <div class='form-group' style='margin-left:auto; margin-right:auto;'>
                        <%= f.text_field :email, class: 'form-control mr-sm-2', placeholder: 'Email', style: 'width:200px;' %>
                        <%= f.password_field :password, class: 'form-control mr-sm-2', placeholder: 'Password', style: 'width:200px;' %>
                    </div>
                <div class='form-group' style='margin-left:auto; margin-right:auto; padding-top:10px; padding-bottom:10px;'>
                    <%= f.submit 'Sign in', class: 'btn btn-outline-light my-2 my-sm-0', style: 'cursor:pointer;' %>
                </div>
            <% end %>
        <% end %>
    </div>
</nav>
<% if notice.present? %>
    <script>
        $(document).ready(function(){
            iziToast.show({
                message: '<%= notice %>',
                messageColor: '',
                messageSize: '',
                messageLineHeight: '',
                backgroundColor: '',
                theme: 'light', // dark
                color: 'blue', // blue, red, green, yellow
                icon: '',
                iconColor: '',
                position: 'topRight', // bottomRight, bottomLeft, topRight, topLeft, topCenter, bottomCenter, center
            });
        });
    </script>
<% elsif alert.present? %>
    <script>
        $(document).ready(function(){
            iziToast.show({
                message: '<%= alert %>',
                messageColor: '',
                messageSize: '',
                messageLineHeight: '',
                backgroundColor: '',
                theme: 'light', // dark
                color: 'red', // blue, red, green, yellow
                icon: '',
                iconColor: '',
                position: 'topRight', // bottomRight, bottomLeft, topRight, topLeft, topCenter, bottomCenter, center
            });
        });
    </script>
<% end %>
