<!DOCTYPE html>
<html>
  <head>
    <title>Cryptografs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <script src="https://use.fontawesome.com/25a3e13073.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"></script>
  </head>

  <body>
    <div id='main'>
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <script>
      $(document).ready(function(){
        height = $('#footer').height();
        $('#main').css('padding-bottom',height+'px');
      });
      $(window).on('resize', function(){
        height = $('#footer').height();
        $('#main').css('padding-bottom',height+'px');
      });
    </script>
  </body>
</html>
